<div class="content-form-register">
    <form action="" method="post" class="form-register">
        <label for="">Nombre de usuario:</label>
        <input type="text">
        
        <label for="">Nombre:</label>
        <input type="text">
        
        <label for="">Apellido:</label>
        <input type="text">
        
        <label for="">Correo:</label>
        <input type="text">

        <label for="">Contraseña:</label>
        <input type="text">

        <label for="">Confirmar contraseña:</label>
        <input type="text">

        <label for="">Rol:</label>
        <input type="text">
    </form>
</div>
