<ul>
  <li><button (click)="navigateToSignUp()">Registro</button></li>
  <li><button (click)="navigateToLogin()">Login</button></li>
  <li><button>Perfil</button></li>
</ul>
<hr />
<h1>Eventos:</h1>

<div style="display: flex;">
  @for (event of eventsList; track event.id) {
  <div class="card">
    <div class="content-img-title">
      <img src="" alt="">
      <h2>{{ event.tilte }}</h2>
    </div>
    <div class="content-info">
      <h4>{{ event.organizer }}</h4>
      <p>Fecha {{ event.date }}</p>
      <p>{{ event.description }}</p>
      <p>Capacidad: {{ event.capacity }}</p>
    </div>
  </div>
  }
</div>
