.card {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 20vmax;
    border-radius: 1em;
    padding: 0em 2em;
    margin-left: 2em;
    background-color: beige;
}

.content-img-title {
    display: flex;
    height: 50%;
}

.content-info {
    display: flex;
    flex-direction: column;
}